body {
}

.jumbotron {
	font-family: 'Rubik Mono One', sans-serif;
	display: flex;
	align-items: center;
	background-image: url("http://i.imgur.com/jMBdG3I.jpg");
	background-size: cover;
	text-shadow: 0.5px 0.5px 0.5px #000000;
}

.jumbotron h2 {
	font-size: 60px;
	font-weight: 700;
	margin: 0;
	color: #fff;
}

.jumbotron h4 {
	font-size: 20px;
	margin: 0;
}

nav {
	padding: 15px;
	display: flex;
}

nav p {
	padding: 5px;
}
