body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

.jumbotron {
	font-family: 'Rubik Mono One', sans-serif;
	display: flex;
	align-items: center;
	background-image: url("../img/jumbo/g-space.jpg");
	background-size: cover;
	text-shadow: 1px 1px 1px #fff;
	margin: 0;
}

.jumbotron h2 {
	font-size: 60px;
	font-weight: 700;
	margin: 0;
	color: #FFEAEC;
}

.jumbotron h4 {
	font-size: 20px;
	margin: 0;
	color: #C68E97;
}

.jumbotron p {
	font-family: sans-serif;
	font-size: 75%;
	color: white;
	margin: 0;
	margin-top: 20px;
	text-shadow: 0px 0px 0px #fff;
}

header {
	padding: 10px 0;
}

header .row {
	display: flex;
	align-items: center;
}

header nav {
	color: #FFEAEC;
	background-color: #2C2535;
	padding: 5px;
	border: 4px solid white;
	display: flex;
	justify-content: center;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

header p {
	position: relative;
	top: 4px;
}

.nav-item {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

.nav-item:active {
	top: 6px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.meme {
	margin: 10px;
	display: flex;
	justify-content: center;
}

.meme  .thumb{
	border: 5px solid #FFEAEC;
}